* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #d1e4fa;
}

.page {
    width: 100%;
    min-height: 600px;
    padding: 30px 15px;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.hero-image {
    width: 100%;
    border-radius: 18px;
    display: block
}

.hero h1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #21ee06;
    margin: 0;
}

.hero-logo {
    width: 120px;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.hero p {
    text-align: left;
    margin-top: 70px;
    margin-bottom: -40px;
    margin-left: 265px;
    font-size: 20px;
    color: #09294b;
    font-style: italic;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

.card {
    background: rgb(193, 250, 200);
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.4s ease;
}

.card h2 {
    margin-top: 0;
    color: #000000;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

button {
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 16px;
    background: #5c0feb;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1f6fd6;
    transform: translateY(-2px);
}

.option-list {
    display: grid;
    gap: 12px;
    margin-top: 15px;
}

.option-item {
    background: #f3f8ff;
    border: 1px solid #e3eefa;
    border-radius: 12px;
    padding: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.option-item:hover {
    background: #0af150;
    transform: translateX(4px);
}
.option-item.active {
    background: #2f80ed;
    color: white;
    border-color: #2f80ed;
    font-weight: bold;
}

.result-card ul {
    padding-left: 20px;
}

.result-card li {
    margin-bottom: 10px;
}

.tip {
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    background: #eef6ff;
    color: #077df3;
}

.warning {
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    background: #fff4e5;
    color: #8b5d00;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
